<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestaoHorariosEnfermagemMobile"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity android:name=".DashboardActivity" />

        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection|orientation|screenSize">

            <!-- Intent Filter para Deep Linking -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"
                    android:host="@string/config_web_host"
                    android:port="3000"
                    android:pathPrefix="/reset-password" />

            </intent-filter>
        </activity>

        <!-- Dashboard específica para Administradores -->
        <activity
            android:name=".AdminDashboardActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:exported="false" />

        <!-- Página de Gestão de Recursos Humanos -->
        <activity
            android:name=".HumanResourcesActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".VacationsActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".AbsencesActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".ShiftTypesActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".StatisticsActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

    </application>

</manifest>