<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestaoHorariosEnfermagemMobile"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity android:name=".DashboardActivity" />

        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection|orientation|screenSize">

            <!-- Intent Filter para Deep Linking -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"
                    android:host="@string/config_web_host"
                    android:port="3000"
                    android:pathPrefix="/reset-password" />

            </intent-filter>
        </activity>

        <!-- Dashboard Admin -->
        <activity
            android:name=".AdminDashboardActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:exported="false" />

        <!-- Dashboard Nurse -->
        <activity
            android:name=".NurseDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="locale|layoutDirection|orientation|screenSize"/>

        <!-- Dashboard Head Nurse -->
        <activity
            android:name=".HeadNurseDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".ProfileActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <!-- Cards admin -->
        <activity
            android:name=".HumanResourcesActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".VacationsActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".AbsencesActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".ShiftTypesActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".ShiftTypeCreateActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".ShiftTypeEditActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".AdminStatisticsActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <activity
            android:name=".UserEditActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UserCreateActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:screenOrientation="portrait" />


        <!-- Cards nurse -->
        <activity
            android:name=".ScheduleActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SwapsActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NurseStatisticsActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />

        <!-- Cards head nurse -->
        <activity
            android:name=".HeadNurseStatisticsActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize" />
    </application>

</manifest>